.todo-list-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.todo-list-column{
    width: 100%;
    white-space:nowrap;
    text-overflow:ellipsis;
    padding: 5px 0;
    font-size: 16px;
    height: auto;
}

.todo-list-item-delete{
    position: relative;
    float: right;
    right: 0;
    size: 2rem;
    cursor:pointer;
}

@media screen and (max-width: 600px){
    .todo-list-container{
        display: block;
        padding: 10px;
    }
}